<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.pessoasPage()"><i
                                class="fa fa-users fa-5x"></i><br><br>Contribuintes</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.receitasPage()"><i
                                class="fa fa-calculator fa-5x"></i><br><br>Receitas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>