<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.paisesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Países</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.estadosPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Estados</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.cidadesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Municípios</button>
                        </div>

                    </div>

                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.bairrosPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Bairros</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.logradourosPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Logradouros</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.pessoasPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Contribuintes</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>